{% extends "layout.html" %}
{% block title %}
    Home
{% endblock %}
{% block main %}
    <div class="text-box">
    <header>
        <h1 style="font-size: 50px; font-family: 'Comic Sans MS', sans-serif; font-weight: bold;">This is My Travel Journey</h1>
        <br>
        <p style="font-size: 30px; font-family: 'Comic Sans MS', sans-serif;">Make Memories, Leave Footprints</p>
    </header>
    <section>
        <p style="font-size: 20px; font-family: 'Comic Sans MS', sans-serif;">Please <a href="/register">Register</a> or <a href="/login">Log In</a> to get started.</p>
    </section>
    </div>
{% endblock %}
